@import "reset";

body {
    font-family: 'Avenir Next';
    background: #f8f6ea;
}

.front {
    position: relative;
    height: 90vh;
    background-image: url('/images/bg-front.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.location {
    padding: 30px 0;
    text-align: center;

    h2 {
        font-size: 25pt;
    }
}

.weather {
    position: absolute;
    padding: 20px;
    bottom: 0;
    right: 0;

    .temperature {
        font-size: 45pt;
    }
}

.events {
    padding: 5px 15px;

    .event {
        position: relative;
        margin: 10px 0;
        height: 150px;
        line-height: 130%;

        h3 {
            position: absolute;
            padding: 10px;
            bottom: 0;
            color: white;
            // font-size: 12pt;
            font-weight: 100;
        }

        .details {
            padding: 6px 8px;
            background: white;
            font-size: 10pt;

            .type {
                text-transform: uppercase;
            }
            .date {
                float: right;
                color: #ccc;
            }
        }

        background-image: url('/images/dn-event-1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        &:nth-child(1) {
            background-image: url('/images/dn-event-2.jpg');
        }
        &:nth-child(3) {
            background-image: url('/images/dn-event-3.jpg');
        }
    }
}