<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppCtrl">
<head>
    <meta charset="utf-8">
    <title>Pindsvin</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="image_src" href="appicon.png">
    <link rel="apple-touch-icon" href="appicon.png">
    <link rel="apple-touch-startup-image" href="startup-iphone3.png" media="(max-device-width: 320px)">
    <link rel="apple-touch-startup-image" href="startup-iphone4.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="startup-iphone5.png" media="(max-device-width: 548px) and (-webkit-min-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="startup-iphone6.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="startup-iphone6plus.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="manifest" href="manifest.json">
    <link href="styles/app.css" rel="stylesheet">
</head>
<body>

<div id="page-main">
    <div class="page-view" ng-view></div>
</div>

<script type="text/ng-template" id="front.html">
    <div class="front">
        <div class="location">
            <h2>{{address.postnummer.navn}}</h2>
        </div>

        <div class="weather">
            <h2 class="temperature">{{weather.main.temp | number:0}}°</h2>
        </div>
    </div>
    <ul class="events">
        <li ng-repeat="event in events | filter:{title:'!Årsmøde'}" class="event">
            <a ng-href="#/events/{{event.zip}}">
                <h3>{{event.title}}</h3>
                <div class="details">
                    <span class="type">Event</span>
                    <div class="date">{{event.time}}</div>
                </div>
            </a>
        </li>
    </ul>
</script>

<script type="text/ng-template" id="event.html">
    <nav class="navigation">
        <a href="#/" ng-click="back()">⬅ Tilbage</a>
    </nav>
    <div class="event-details">
        <h2>{{event.title}}</h2>
        <h3>{{event.type}}</h3>
        <div class="date">{{event.dateTo}} {{event.time}}</div>
        <div class="organizer">Organiseret af {{event.organizer}}</div>
    </div>
</script>

<script src="scripts/bower_components/fastclick/lib/fastclick.js"></script>
<script src="scripts/bower_components/moment/moment.js"></script>
<script src="scripts/bower_components/angular/angular.js"></script>
<script src="scripts/bower_components/angular-animate/angular-animate.js"></script>
<script src="scripts/bower_components/angular-route/angular-route.js"></script>
<script src="scripts/init.js"></script>
<script src="scripts/app.js"></script>

</body>
</html>
